#photo {
  display: block;
  float: left;
  background: none repeat scroll 0 0 rgb(252, 254, 255);
  margin-left: 30px;
  border: 10px solid rgb(255, 255, 255);
  box-shadow: 0 1px 3px rgb(171, 171, 171);

  > #face {
    width: 186px;
  }
}

#data {
  padding-top: 15px;
  > table > tbody > tr > td {
    padding-left: 10px;
  }
}

#contact-email {
  word-break: break-all;
}

#metrics #other {
  .online {
    color: green;
  }
  .offline {
    color: red;
  }
}

/*
  About page logos
*/

.logo {
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sprite {
  object-fit: none;
  width: 77px;
  height: 40px;

  &#cloudflare { object-position: 0 0; width: 85px; }
  &#docker { object-position: 0 -50px; width: 47px; }
  &#gradle { object-position: 0 -100px; width: 125px; height: 35px; margin-top: 5px; }
  &#grunt { object-position: 0 -145px; width: 115px; }
  &#html5-css3-jquery-bootstrap { object-position: 0 -195px; width: 111px; }
  &#http2 { object-position: 0 -245px; }
  &#jade { object-position: 0 -295px; width: 101px; }
  &#jasmine { object-position: 0 -345px; width: 148px; height: 35px; margin-top: 5px; }
  &#junit { object-position: 0 -390px; width: 95px; height: 35px; margin-top: 5px; }
  &#letsencrypt { object-position: 0 -435px; width: 140px; }
  &#mockito { object-position: 0 -485px; width: 104px; }
  &#mongodb { object-position: 0 -535px; width: 136px; }
  &#npm { object-position: 0 -585px; height: 30px; margin-top: 10px; }
  &#os { object-position: 0 -625px; width: 85px; }
  &#phantomjs { object-position: 0 -675px; width: 123px; }
  &#sammyjs { object-position: 0 -725px; width: 91px; }
  &#selenium { object-position: 0 -775px; width: 46px; }
  &#springboot { object-position: 0 -825px; width: 117px; }
  &#stormpath { object-position: 0 -875px; width: 128px; height: 30px; margin-top: 10px; }
  &#undertow { object-position: 0 -915px; width: 82px; }
}
