#diary-wrapper {
  #left {
    left: -50px;
  }
  #diary {
    word-wrap: break-word;
    font-size: 17px;
    > #comment-form {
      padding-top: 10px;
    }
    > .comments .img-responsive {
      display: initial;
    }
  }
  #right {
    right: -10px;
  }
}

#delete-comment {
  margin: auto;
}
