.index {
  padding-left: 30px;
  padding-right: 30px;
}

.jumbotron {
  padding-left: 50px;
  padding-right: 50px;
  > .row > p {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 200;
  }
}
