#picture-row {
  #media-left {
    left: -50px;
  }
  #picture {
    background: transparent url('/assets/img/spinner.gif') no-repeat scroll center center;
  }
  #media-right {
    right: -10px;
  }
}

/*
  CH
*/

.ch-grid {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.ch-grid:after,
.ch-item:before {
  content: '';
  display: table;
}

.ch-grid:after {
  clear: both;
}

.ch-grid > li {
  width: 220px;
  height: 220px;
  display: inline-block;
  margin: 20px;
}

.ch-item {
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow:
  inset 0 0 0 0 rgba(200,95,66, 0.4),
  inset 0 0 0 16px rgba(255,255,255,0.6),
  0 1px 2px rgba(0,0,0,0.1);
  transition: all 0.4s ease-in-out;
  background: url('/assets/img/album-sprite.png') no-repeat top left;
  width: 220px;
  height: 220px;

  &.ch-img-1 {
    background-position: 0 0;
  }

  &.ch-img-2 {
    background-position: 0 -460px;
  }

  &.ch-img-3 {
    background-position: 0 -230px;
  }

  &.ch-img-4 {
    background-position: 0 -1150px;
  }

  &.ch-img-5 {
    background-position: 0 -920px;
  }

  &.ch-img-6 {
    background-position: 0 -690px;
  }
}

.ch-info {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transform: scale(0);
  backface-visibility: hidden;
}

.ch-info > h3 {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  font-size: 22px;
  margin: 0 30px;
  padding: 65px 0 0 0;
  height: 110px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow:
  0 0 1px #fff,
  0 1px 2px rgba(0,0,0,0.3);
}

.ch-info > p {
  color: #fff;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-item:hover {
  box-shadow:
  inset 0 0 0 110px rgba(200,95,66, 0.4),
  inset 0 0 0 16px rgba(255,255,255,0.8),
  0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
  opacity: 1;
  transform: scale(1);
}

.gallery a:hover {
  text-decoration: none;
}
