@font-face {
  font-family: 'Shadows Into Light';
  src: url('/assets/fonts/shadowsintolight/shadowsintolight-webfont.eot');
  src: url('/assets/fonts/shadowsintolight/shadowsintolight-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/shadowsintolight/shadowsintolight-webfont.woff2') format('woff2'),
  url('/assets/fonts/shadowsintolight/shadowsintolight-webfont.woff') format('woff'),
  url('/assets/fonts/shadowsintolight/shadowsintolight-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
}

html {
  height: 100%;
  min-width: 300px;
}

body {
  background: #453f32; /* Old browsers */
  background: -moz-linear-gradient(top, #453f32 0%, #b5af9e 50%, #b5af9e 56%, #7b7664 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #453f32 0%,#b5af9e 50%,#b5af9e 56%,#7b7664 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #453f32 0%,#b5af9e 50%,#b5af9e 56%,#7b7664 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#453f32', endColorstr='#7b7664',GradientType=0 ); /* IE6-9 */
}

.alert > .glyphicon {
  padding-right: 10px;
}

.container {
  padding-top: 100px;
}

#controlBar_bgndVideo {
  display: none;
}

#back-to-login, #forgot {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.slider-text {
  color: whitesmoke !important;
  font-family: 'Shadows Into Light', serif !important;
  text-shadow: 1px 1px 1px #999 !important;
}

#shield {
  margin: auto;
}