if (user != 'Guest')
    .well.hidden-xs
        .row
            .media
                .media-left.media-middle
                    #photo
                        img#face.media-object(src='/assets/img/me.jpg')

                #data.media-body
                    table
                        tbody
                            tr
                                td
                                    h4 Birth
                                td 07 May 1991
                            tr
                                td
                                    h4 Address
                                td Kristinehöjdsgatan 9 A, Göteborg
                            tr
                                td
                                    h4 Phone
                                td +46761288200
                            tr
                                td
                                    h4 Mail
                                td gustaf@protonmail.ch
                            tr
                                td
                                    h4 Tox Id
                                td
                                    a(href='/key/key.txt') Download
.row.hidden-min
    .col-sm-3.col-xs-6.text-center
        a(href='https://stormpath.com/')
            .logo
                img#stormpath.sprite(src='/assets/img/logos-sprite.png')
    .col-sm-3.col-xs-6.text-center
        a(href='https://letsencrypt.org/')
            .logo
                img#letsencrypt.sprite(src='/assets/img/logos-sprite.png')
    .col-sm-3.col-xs-6.text-center
        a(href='https://www.mongodb.org/')
            .logo
                img#mongodb.sprite(src='/assets/img/logos-sprite.png')
    .col-sm-3.col-xs-6.text-center
        a(href='http://mockito.org/')
            .logo
                img#mockito.sprite(src='/assets/img/logos-sprite.png')
.row.hidden-min
    .col-sm-3.col-xs-6.text-center
        a(href='http://sammyjs.org/')
            .logo
                img#sammyjs.sprite(src='/assets/img/logos-sprite.png')
    .col-sm-3.col-xs-6.text-center
        a(href='https://www.cloudflare.com')
            .logo
                img#cloudflare.sprite(src='/assets/img/logos-sprite.png')
    .col-sm-3.col-xs-6.text-center
        a(href='https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5')
            .logo
                img#html5-css3-jquery-bootstrap.sprite(src='/assets/img/logos-sprite.png')
    .col-sm-3.col-xs-6.text-center
        a(href='https://www.kernel.org/')
            .logo
                img#os.sprite(src='/assets/img/logos-sprite.png')
.row.hidden-min
    .col-sm-3.col-xs-6.text-center
        a(href='http://projects.spring.io/spring-boot/')
            .logo
                img#springboot.sprite(src='/assets/img/logos-sprite.png')
    .col-sm-3.col-xs-6.text-center
        a(href='http://junit.org/')
            .logo
                img#junit.sprite(src='/assets/img/logos-sprite.png')
    .col-sm-3.col-xs-6.text-center
        a(href='http://jade-lang.com/')
            .logo
                img#jade.sprite(src='/assets/img/logos-sprite.png')
    .col-sm-3.col-xs-6.text-center
        a(href='https://www.docker.com/')
            .logo
                img#docker.sprite(src='/assets/img/logos-sprite.png')
.row.hidden-min
    .col-sm-3.col-xs-6.text-center
        a(href='http://gruntjs.com/')
            .logo
                img#grunt.sprite(src='/assets/img/logos-sprite.png')
    .col-sm-3.col-xs-6.text-center
        a(href='https://jasmine.github.io')
            .logo
                img#jasmine.sprite(src='/assets/img/logos-sprite.png')
    .col-sm-3.col-xs-6.text-center
        a(href='https://www.npmjs.com/')
            .logo
                img#npm.sprite(src='/assets/img/logos-sprite.png')
    .col-sm-3.col-xs-6.text-center
        a(href='http://phantomjs.org/')
            .logo
                img#phantomjs.sprite(src='/assets/img/logos-sprite.png')
.row.hidden-min
    .col-sm-3.col-xs-6.text-center
        a(href='http://gradle.org/')
            .logo
                img#gradle.sprite(src='/assets/img/logos-sprite.png')
    .col-sm-3.col-xs-6.text-center
        a(href='http://www.seleniumhq.org/')
            .logo
                img#selenium.sprite(src='/assets/img/logos-sprite.png')
    .col-sm-3.col-xs-6.text-center
        a(href='https://http2.github.io/')
            .logo
                img#http2.sprite(src='/assets/img/logos-sprite.png')
    .col-sm-3.col-xs-6.text-center
        a(href='http://undertow.io/')
            .logo
                img#undertow.sprite(src='/assets/img/logos-sprite.png')
#basic-website-info.row
    .gtown-center-padding
        h2
            b B
            | asic
            b  W
            | ebsite
            b  I
            | nformation (Spring Boot)
        .col-lg-6
            dl.dl-horizontal
                dt Email:
                    dd
                        a#contact-email(href='/contact') contact@justanotherrandomguyontheinternet.com
                dt Security:
                    dd
                        a(href='https://letsencrypt.org/') Lets Encrypt!
                dt DNS:
                    dd
                        a(href='https://namecheap.com/') Namecheap,
                        a(href='http://dnssec.net/')  DNSSEC.
                dt Style sheets:
                    dd
                        a(href='http://getbootstrap.com/') Bootstrap & custom.
                        a(href='https://en.wikipedia.org/wiki/Less_(stylesheet_language)')  Less.
                        a(href='http://sass-lang.com/')  Sass.
                dt Server side:
                    dd
                        a(href='https://en.wikipedia.org/wiki/Spring_Framework') Spring Boot, MVC, actuator, data, session.
                        a(href='https://en.wikipedia.org/wiki/Neo4j')  Neo4j.
                        a(href='https://en.wikipedia.org/wiki/MongoDB')  MongoDB.
                        a(href='http://slf4j.org/')  SLF4J.
                        a(href='https://en.wikipedia.org/wiki/JADE_(programming_language)')  Jade.
                        a(href='https://github.com/neuland/jade4j')  Jade4J.
                        a(href='http://thymeleaf.org/')  Thymeleaf.
                        a(href='https://en.wikipedia.org/wiki/Gradle')  Gradle.
                        a(href='https://en.wikipedia.org/wiki/Npm_(software)')  Npm.
                        a(href='https://en.wikipedia.org/wiki/Grunt_(software)')  Grunt.
                        a(href='https://docker.com/')  Docker.
                        a(href='https://cucumber.io/')  Cucumber.
                        a(href='http://seleniumhq.org/')  Selenium.
                        a(href='https://github.com/FluentLenium/FluentLenium')  Fluentlenium.
                dt Java:
                    dd OpenJDK 1.8.0_92
        .col-lg-6
            dl.dl-horizontal
                dt Webserver:
                    dd
                        a(href='http://undertow.io/') Undertow.
                        a(href='https://http2.github.io/')  HTTP/2.
                        a(href='https://cloudflare.com')  Cloudflare.
                        a(href='https://aws.amazon.com/')  AWS.
                dt Client side:
                    dd
                        | Javascript
                        a(href='http://jquery.com/')  JQuery.
                        a(href='https://jasmine.github.io')  Jasmine.
                        a(href='https://github.com/gotwarlost/istanbul')  Istanbul.
                        a(href='http://sammyjs.org/')  SammyJS.
                        a(href='https://jquerymobile.com')  JQueryMobile.
                dt Firewall:
                    dd
                        a(href='http://netfilter.org/projects/iptables/') IPtables with
                        a(href='http://xtables-addons.sourceforge.net/')  Xtables modules
                dt Connection speed:
                    dd 100/10 mbps (Down/Up)
                dt Server OS:
                    dd
                        a(href='https://wiki.gentoo.org/wiki/Hardened_Gentoo') Gentoo hardened &
                        a(href='https://getfedora.org/')  Fedora GNU|Linux.
                dt Authentication:
                    dd
                        a(href='http://projects.spring.io/spring-security/') Spring Security &
                        a(href='https://stormpath.com/')  StormPath.
                dt Miscellaneous:
                    dd
                        a(href='https://snort.org/') Snort.
                        a(href='http://selinuxproject.org/page/Main_Page')  SELinux.
                        a(href='https://grsecurity.net/')  Grsecurity.
.row
    .col-sm-2.col-sm-offset-5.col-xs-4.col-xs-offset-4
        a#more-details(class='btn btn-block btn-md btn-success', href='/about/details') Details
#metrics.row
    include metricsfragment