include alerts/successAlert
include alerts/errorAlert
.row
    .col-xs-6.col-xs-offset-3
        form(name='accountform', role='form', method='post', action='/account/update')
            fieldset
                input(name='#{csrfToken.parameterName}', type='hidden', value='#{csrfToken.token}')
                .form-group
                    input#given-name.form-control(name='givenName', type='text', value='#{account.givenName}')
                .form-group
                    input#sur-name.form-control(name='surname', type='text', value='#{account.surname}')
                .form-group
                    input#username.form-control(name='username', type='text', value='#{account.username}')
                .form-group
                    input#email.form-control(name='email', type='text', value='#{account.email}')
                .form-group
                    input#password.form-control(placeholder='Current password', name='currentPassword', type='password')
                .form-group
                    input#npassword.form-control(placeholder='New password', name='password', type='password')
                .form-group
                    input#nrpassword.form-control(placeholder='Repeat new passord', name='rpassword', type='password')
                .form-group
                    button(type='submit', class='btn btn-block btn-lg btn-success') Update
        form(name='deleteform', role='form', method='post', action='/account/delete')
            input(name='#{csrfToken.parameterName}', type='hidden', value='#{csrfToken.token}')
            .form-group
                button(type='submit', id='delete-account', class='btn btn-block btn-lg btn-danger') Delete
            .form-group
                input#password.form-control(placeholder='Current password', name='password', type='password')
