.container-fluid
    .row
        .col-xs-8.col-xs-offset-2
            if (user != 'Guest')
                form(name='blogform', role='form', accept-charset='UTF-8', method='post', action='/blog/addPost', enctype="multipart/form-data")
                    fieldset
                        input.hidden(name='#{csrfToken.parameterName}', type='hidden', value='#{csrfToken.token}')
                        if(post)
                            input.hidden(name='postId', type='text', value='#{post.id}')
                            .form-group
                                input.form-control(name='header', maxlength='50', value='!{post.header}')
                            .form-group
                                textarea#desc.form-control(name='body', rows='25')!{post.body}
                        else
                            .form-group
                                input.form-control(name='header', placeholder='Post header', maxlength='50')
                            .form-group
                                textarea#desc.form-control(name='body', placeholder='Enter Post body...', rows='25')
                        button(type='submit', class='btn btn-block btn-lg btn-success') Save