include alerts/infoAlert
if (user == 'Gustaf')
    .row
        .col-xs-4.col-xs-offset-4
            a(id='add-post', class='btn btn-block btn-md btn-success', href='/blog/addPost') Create new Post
.row.text-center
    a(href='/rss')
        img#rss-img(src='/assets/img/rss.png')
.row.text-center
    h1
        b D
        | eveloper
        b  D
        | iary
#fragment-error.row.text-center.hidden
    .col-md-8.col-md-offset-2
        .alert.alert-danger.alert-dismissable
            i.glyphicon.glyphicon-exclamation-sign
            strong Post could not be retrieved
.row.text-center
    #diary-wrapper
        include postfragment
.row.text-center
    a(href='') TOP OF PAGE

script.
