.row
    .col-xs-12.col-sm-8.col-sm-offset-2
        if (problem)
            .alert.alert-dismissable.alert-danger
                a.close(href='#', data-dismiss='alert', aria-label='close')  ×
                i.glyphicon.glyphicon-exclamation-sign
                strong #{problem}
.row
    .col-xs-12.col-sm-8.col-sm-offset-2
        h1 Change your password
        p Enter your new account password below. Once confirmed you'll be
        | logged into your account and your new password will be active.
.row
    .col-xs-12.col-sm-8.col-sm-offset-2.text-center
        form.change-password-form(method='post', role='form', action="/verify")
            input(name='#{csrfToken.parameterName}', type='hidden', value='#{csrfToken.token}')
            .form-group.group-password
                div
                    input.form-control(name='password', value='', type='password', placeholder='Password', required='true')
            .form-group.group-rpassword
                div
                    input.form-control(name='rpassword', value='', type='password', placeholder='Confirm Password', required='true')

            .form-group
                a#back-to-login(href='/login') back to login
            div
                button.btn.btn-block.btn-lg.btn-success(type='submit') Send Email
.row
    .col-xs-12
        a(href='https://internetdefenseleague.org')
            img#shield.img-responsive(src='/assets/img/shield_badge.png', alt='Member of The Internet Defense League')