.row
    if(true)
        .col-md-8.col-md-offset-2
            .alert.alert-dismissable.alert-info
                a.close(href='#', data-dismiss='alert', aria-label='close')  ×
                i.glyphicon.glyphicon-blackboard
                strong Mail server down for maintenance
    if (fail)
        #fail.col-md-8.col-md-offset-2
            .alert.alert-dismissable.alert-danger
                a.close(href='#', data-dismiss='alert', aria-label='close')  ×
                i.glyphicon.glyphicon-blackboard
                strong Error sending the message
    else if (success)
        #success.col-md-8.col-md-offset-2
            .alert.alert-dismissable.alert-success
                a.close(href='#', data-dismiss='alert', aria-label='close')  ×
                i.glyphicon.glyphicon-send
                strong An owl was sent with your message
.row
    #loading-image
    .col-md-8.col-md-offset-2
        form#contact-form.form-horizontal(action='/contact/send', method='post')
            fieldset
                legend.text-center Contact Me
                input(name='#{csrfToken.parameterName}', type='hidden', value='#{csrfToken.token}')
                // Name input
                .form-group
                    label.col-md-3.control-label(for='name') Name
                    .col-md-9
                        input#name.form-control(name='name', type='text', placeholder='Your name')
                // Email input
                .form-group
                    label.col-md-3.control-label(for='email') Your E-mail
                    .col-md-9
                        input#email.form-control(name='email', type='text', placeholder='Your email' )
                // Spamcheck input
                .form-group
                    label.col-md-3.control-label(for='check') Leave this blank (Simple Spam Checker)
                    .col-md-9
                        input#inputReal.form-control(type='text', name='check', placeholder='')
                // Message body
                .form-group
                    label.col-md-3.control-label(for='body') Your message
                    .col-md-9
                        textarea#body.form-control(name='body', placeholder='Please enter your message here...', rows='5')
                // Form actions
                .form-group
                    .col-md-12.text-right
                        button#send.btn.btn-primary.btn-lg.disabled(type='submit', disabled='disabled') Send
