.row
    .gtown-center-padding
        .server(style="z-index: 1; position: relative;")
            iframe(src="https://magwo.github.io/most-interesting-server/index.html", style="width: 100%; height: 500px;")
            .worker(style="z-index: 2")
                a(href="/login", style="position: absolute; left:50%; top:50%; -webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);transform: translate(-50%, -50%);")
                    img.img-responsive(src='/assets/img/construction.gif')
