.row
    .col-xs-12.col-sm-8.col-sm-offset-2
        if (status)
            .alert.alert-dismissable.alert-info
                a.close(href='#', data-dismiss='alert', aria-label='close')  ×
                i.glyphicon.glyphicon-exclamation-sign
                strong #{status}
.row
    .col-xs-12.col-sm-8.col-sm-offset-2
        h1 Forgot your password?
        p Enter your email address below to reset your password.
.row
    .col-xs-12.col-sm-8.col-sm-offset-2.text-center
        form.forgot-password-form(method='post', role='form', action="/forgot")
            input(name='#{csrfToken.parameterName}', type='hidden', value='#{csrfToken.token}')
            .form-group.group-email
                div
                    input.form-control(name='email', value='', type='email', placeholder='Email', required='true')
            .form-group
                a#back-to-login(href='/login') back to login
            div
                button.btn.btn-block.btn-lg.btn-success(type='submit') Send Email
.row
    .col-xs-12
        a(href='https://internetdefenseleague.org')
            img#shield.img-responsive(src='/assets/img/shield_badge.png', alt='Member of The Internet Defense League')