if (accountDeleted)
    .row
        .col-xs-10.col-xs-offset-1
            .alert.alert-info.alert-dismissable
                i.glyphicon.glyphicon-exclamation-sign
                strong Your account was successfully deleted!
.row
    .col-xs-10.col-xs-offset-1.hidden-xs
        .jumbotron
            .row.index
                h2 Hello #{user}
                if (user == 'Guest')
                    p
                        | This is just another one of those personal websites used to try out frameworks and trying to
                        |  develop using what's currently cool in the continuously changing software world.
                        |  This site doesn't have a lot of content and the content that exists is mostly for demonstration
                        |  purposes and some of it is hidden for non registered users. The site is running
                        a(href='https://sv.wikipedia.org/wiki/SSL')  SSL
                        |  and the user and authentication is currently handled by a central service called
                        a(href='https://stormpath.com/')  Stormpath
                        |  that I highly recommend. Though I am looking into alternatives and new
                        |  protocols being developed to implement a decentralized authentication system where
                        |  the password never leaves your browser.
                    p
                        a.btn.btn-primary.btn-large(href='/about') Learn more
                else
                    p
                        | Thank you for showing interest in the site #{user}. Please note that I may not be very
                        |  active on the site due to other things getting in the way and it mainly is for my
                        |  self education and entertainment but you are most welcome to leave a comment if you
                        |  like on any of the posts and I will do my best to get back to you either by email or
                        |  by placing a comment myself after yours!
.row.index.text-center
    .row
        a(href='/rss')
            img#rss-img(src='/assets/img/rss.png')
    .row
        h1
            b D
            | eveloper
            b  D
            | iary
    .row
        #diary-wrapper
            include postfragment
    .row
        a(href='') TOP OF PAGE