#bgndVideo.player(data-property="{videoURL:'BsekcY04xvQ'}")
.row
    .col-xs-12.col-sm-8.col-sm-offset-2.text-center
        .flexslider.slider-text
            ul.slides.list-unstyled
                li.one
                    h1 Välkommen
                li.two
                    h1 Welcome
                li.three
                    h1 Willkommen
                li.four
                    h1 أهلا ب
.row
    .col-xs-12.col-sm-8.col-sm-offset-2
        .alert.alert-info
                i.glyphicon.glyphicon-wrench
                strong Facebook login is currently disabled.
        if (error)
            .alert.alert-danger.bad-login
                i.glyphicon.glyphicon-exclamation-sign
                strong #{error}
.row
    .col-xs-12.col-sm-8.col-sm-offset-2.text-center
        form.login-form(method='post', role='form', accept-charset='UTF-8', enctype="multipart/form-data", action="/login")
            input(name='#{csrfToken.parameterName}', type='hidden', value='#{csrfToken.token}')
            .form-group.group-username
                div
                    input.form-control(name='username', value='', type='text', placeholder='Username or Email', autofocus='true', required='true')
            .form-group.group-password
                div
                    input.form-control(name='password', value='', type='password', placeholder='Password', required='true', autocomplete='off')
            .form-group.forgot
                a#forgot.to-login(href='/forgot') Forgot password?
            .form-group.link
                a#register.btn.btn-block.btn-lg.btn-success(href='/register') Register
            .form-group.link
                a#facebook.btn.btn-block.btn-lg.btn-success.disabled(disabled='disabled') Login with facebook
            div
                button.login.btn.btn-block.btn-lg.btn-success(type='submit') Login
.row
    .col-xs-12
        a(href='https://internetdefenseleague.org')
            img#shield.img-responsive(src='/assets/img/shield_badge.png', alt='Member of The Internet Defense League')