#fragment-error.row.text-center.hidden
    .col-md-8.col-md-offset-2
        .alert.alert-danger.alert-dismissable
            i.glyphicon.glyphicon-exclamation-sign
            strong Metrics could not be updated
.row
    .col-xs-12.gtown-center-padding
        h2 Metrics
        h4 These are stats from the server.
.row
    #memory.col-sm-4
        b Memory
        p
            span#total Total Memory #{jvm_memory_total_used}M / #{jvm_memory_total_max}M
        .progress
            .progress-bar.progress-bar-striped(class='#{jvm_memory_total_status}', aria-valuemin='0',
            aria-valuenow='#{jvm_memory_total_progress}', role='progressbar', style='width: #{jvm_memory_total_progress}%').
                #{jvm_memory_total_progress}%
        p
            span#heap Heap Memory #{jvm_memory_heap_used}M / #{jvm_memory_heap_max}M
        .progress
            .progress-bar.progress-bar-striped(class='#{jvm_memory_heap_status}', aria-valuemin='0',
            aria-valuenow='#{jvm_memory_heap_progress}', role='progressbar', style='width: #{jvm_memory_heap_progress}%').
                #{jvm_memory_heap_progress}%
        p
            span#non-heap Non-Heap Memory #{jvm_memory_non_heap_used}M / #{jvm_memory_non_heap_committed}M
        .progress
            .progress-bar.progress-bar-striped(class='#{jvm_memory_non_heap_status}', aria-valuemin='0',
            aria-valuenow='#{jvm_memory_non_heap_progress}', role='progressbar', style='width: #{jvm_memory_non_heap_progress}%').
                #{jvm_memory_non_heap_progress}%
        p
            span#docky Disk #{container_free_space}M / #{container_total_space}M
        .progress
            .progress-bar.progress-bar-striped(aria-valuemin='0',
            aria-valuenow='#{container_space_progress}', role='progressbar', style='width: #{container_space_progress}%').
                #{container_space_progress}%
    #threads.col-sm-4
        b Threads (Total: #{jvm_threads_count}) #{' '}
        a.hand(href='/login')
            i.glyphicon.glyphicon-eye-open
        p
            span#runnable Runnable #{jvm_threads_runnable_count}
        .progress
            .progress-bar.progress-bar-striped.progress-bar-success(aria-valuemin='0',
            aria-valuenow='#{jvm_threads_runnable_count}', aria-valuemax='#{jvm_threads_count}',
            role='progressbar', style='width: #{jvm_threads_progress}%').
                #{jvm_threads_progress}%
        p
            span#twait Timed Waiting #{jvm_threads_timed_waiting_count}
        .progress
            .progress-bar.progress-bar-striped.progress-bar-warning(aria-valuemin='0',
            aria-valuenow='#{jvm_threads_timed_waiting_count}', aria-valuemax='#{jvm_threads_count}',
            role='progressbar', style='width: #{jvm_threads_time_waiting_progress}%').
                #{jvm_threads_time_waiting_progress}%
        p
            span#wait Waiting #{jvm_threads_waiting_count}
        .progress
            .progress-bar.progress-bar-striped.progress-bar-warning(aria-valuemin='0',
            aria-valuenow='#{jvm_threads_waiting_count}', aria-valuemax='#{jvm_threads_count}',
            role='progressbar', style='width: #{jvm_threads_waiting_progress}%').
                #{jvm_threads_waiting_progress}%
        p
            span#blocked Blocked #{jvm_threads_blocked_count}
        .progress
            .progress-bar.progress-bar-striped.progress-bar-danger(aria-valuemin='0',
            aria-valuenow='#{jvm_threads_blocked_count}', aria-valuemax='#{jvm_threads_count}',
            role='progressbar', style='width: #{jvm_threads_blocked_progress}%').
                #{jvm_threads_blocked_progress}%
    #other.col-sm-4
        b Garbage collection
        .row
            .col-xs-8 Mark Sweep count
            .col-xs-4.text-right #{jvm_garbage_marksweep_count}
        .row
            .col-xs-8 Mark Sweep time
            .col-xs-4.text-right #{jvm_garbage_marksweep_time}ms
        .row
            .col-xs-8 Scavenge count
            .col-xs-4.text-right #{jvm_garbage_scavenge_count}
        .row
            .col-xs-8 Scavenge time
            .col-xs-4.text-right #{jvm_garbage_scavenge_time}ms
        b Service Status
        .row
            .col-xs-8 Neo4j
            .col-xs-4.text-right(class='#{neo4j_status}') #{neo4j_status}
        .row
            .col-xs-8 Stormpath
            .col-xs-4.text-right(class='#{stormpath_status}') #{stormpath_status}
        .row
            .col-xs-8 Redis
            .col-xs-4.text-right(class='#{redis_status}') #{redis_status}
        .row
            .col-xs-8 Email
            .col-xs-4.text-right(class='#{email_status}') #{email_status}
        .row
            .col-xs-8 Owncloud
            .col-xs-4.text-right(class='#{owncloud_status}') #{owncloud_status}
.row
    .col-sm-2.col-sm-offset-5.col-xs-4.col-xs-offset-4
        a(id='more-metrics', class='btn btn-block btn-md btn-success', href='/login') More