link(rel='stylesheet', href='/assets/css/jquery.fancybox.css')
if (user == 'Gustaf')
    .wrapper
        if (uploaded)
            .row
                .col-md-8.col-md-offset-2
                    .alert.alert-info.alert-dismissable
                        i.glyphicon.glyphicon-ok-circle
                        strong Image upload successful!
        .row
            .col-xs-6.col-xs-offset-3
                h1 Image Uploader
                form(name='uploadform', role='form', method='post', enctype='multipart/form-data', action='/pictures/upload')
                    fieldset
                        input.hidden(name='#{csrfToken.parameterName}', type='hidden', value='#{csrfToken.token}')
                        .form-group
                            input(class='form-control', name='file', type='file')
                        .form-group
                            textarea#desc.form-control(name='description', placeholder='Enter your picture description here...', rows='3', maxlength='250')
                        button(type='submit', class='btn btn-block btn-lg btn-success') Upload
else if (data)
    .wapper
        .row
            #fragment-error.row.text-center.hidden
                .col-md-8.col-md-offset-2
                    .alert.alert-danger.alert-dismissable
                        i.glyphicon.glyphicon-exclamation-sign
                        strong Picture could not be retrieved
        .row
            #picture-wrapper
                include picturefragment
        .row.hidden-min
            .col-xs-10.col-xs-offset-1
                ul.ch-grid
                    li
                        .ch-item.ch-img-1
                            a.gallery(rel='group', href='/login')
                                .ch-info
                                    h3 Black Widow
                                    p The build log
                    li
                        .ch-item.ch-img-2
                            a.gallery(rel='group', href='/login')
                                .ch-info
                                    h3 Hacking
                                    p Location unknown
                    li
                        .ch-item.ch-img-3
                            a.gallery(rel='group', href='/login')
                                .ch-info
                                    h3 Project theater
                                    p Home theater build log
                    li
                        .ch-item.ch-img-4
                            a.gallery(rel='group', href='/login')
                                .ch-info
                                    h3 Home
                                    p Is where the heart is
                    li
                        .ch-item.ch-img-5
                            a.gallery(rel='group', href='/login')
                                .ch-info
                                    h3 Metal
                                    p Metal journeys
                    li
                        .ch-item.ch-img-6
                            a.gallery(rel='group', href='/login')
                                .ch-info
                                    h3 Selfies
                                    p Hipster approved
else
    .gtown-center-padding
        img(src='/assets/img/construction.gif')