.row
    .col-xs-6.col-xs-offset-3.text-center
        h1 #{gdate.format(header)}
#picture-row.row(data-current='#{currentPicture}', data-total='#{numberOfPictures}')
    .col-sm-8.col-sm-offset-2.col-xs-12
        if (currentPicture > 1)
            #media-left.arrows.text-center.hidden-xs
                a(href='/pictures/picture/' + (currentPicture - 1))
                    .arrowbase
                        .left-arrow
        a.fancybox(href='/pictures/image?name=' + data)
            noscript
                img.img-responsive(src='/pictures/image?name=' + data)
        if (currentPicture < numberOfPictures)
            #media-right.arrows.text-center.hidden-xs
                a(href='/pictures/picture/' + (currentPicture + 1))
                    .arrowbase
                        .right-arrow
.row
    .col-xs-6.col-xs-offset-3.text-center
        h2#uploader #{uploader}
.row
    .col-xs-6.col-xs-offset-3.text-center
        p#description !{description}
script.
    (function ajaxLoadImage() {
        var pictureHolder = document.getElementsByClassName('fancybox').item(0);
        pictureHolder.innerHTML = '<img id="ajax-img" class="img-responsive" src="/assets/img/spinner.gif">';
        var picture = document.getElementById('ajax-img');
        var ajaxImage = new Image();
        ajaxImage.onload = function() {
            picture.src = this.src;
        };
        ajaxImage.src = pictureHolder.getAttribute('href');
    })();