.col-sm-8.col-sm-offset-2.col-xs-12
    if (currentPost > 1)
        #left.arrows.text-center.hidden-xs
            a(href='/blog/post/' + (currentPost - 1))
                .arrowbase
                    .left-arrow
    #diary(data-current='#{currentPost}', data-total='#{numberOfPosts}')
        h1
            a.diary-calendar.hidden-xs(href="#", data-selected='#{gdate.yyyymmdd(post.date)}', data-last='#{gdate.yyyymmdd(lastDate)}')
                i.glyphicon.glyphicon-calendar
        h2 #{post.user.username}
        h3 #{post.header}
        .post-body
            !{post.body}
        if (user != 'Guest')
            if (user == 'Gustaf')
                .row
                    .col-xs-6.col-xs-offset-3
                        .form-group
                            a(id='edit-post', class='btn btn-block btn-md btn-success', href='/blog/editPost/#{post.id}') Edit Post
                        .form-group
                            a(id='delete-post', class='btn btn-block btn-md btn-danger', href='/blog/deletePost/#{post.id}') Delete
            .row
                .col-xs-6.col-xs-offset-3
                    form#comment-form(name='commentform', role='form', method='post', action='/blog/addComment', enctype="multipart/form-data")
                        fieldset
                            input.hidden(name='#{csrfToken.parameterName}', type='hidden', value='#{csrfToken.token}')
                            input.hidden(name='post', type='text', value='#{currentPost}')
                            input.hidden(name='postId', type='text', value='#{post.id}')
                            .form-group
                                textarea#desc.form-control(name='body', placeholder='Enter your comment here...', rows='3', maxlength='250')
                            .form-group
                                button(type='submit', class='btn btn-block btn-lg btn-success') Comment
        .comments
            if (!post.comments.isEmpty())
                img.img-responsive(src='/assets/img/divider.png')
                each comment in post.comments
                    .comment
                        h4 #{comment.user.username}
                        h5 #{comment.date}
                        p.comment-body
                            if (comment.user.username == 'Gustaf')
                                !{comment.body}
                            else
                                #{comment.body}
                        if (comment.user.username == user)
                            .row
                                form(name='deletecomment', role='form', method='post', action='/blog/removeComment')
                                    input.hidden(name='#{csrfToken.parameterName}', type='hidden', value='#{csrfToken.token}')
                                    input.hidden(name='post', type='text', value='#{currentPost}')
                                    input.hidden(name='postId', type='hidden', value='#{post.id}')
                                    input.hidden(name='commentid', type='hidden', value='#{comment.id}')
                                    button#delete-comment.btn.btn-danger(type='submit')
                                        i.glyphicon.glyphicon-trash
    if (currentPost < numberOfPosts)
        #right.arrows.text-center.hidden-xs
            a(href='/blog/post/' + (currentPost + 1))
                .arrowbase
                    .right-arrow