include alerts/errorAlert
include alerts/successAlert
.row
    .col-xs-12.col-sm-8.col-sm-offset-2
        h1 Create Account
.row
    .col-xs-12.col-sm-8.col-sm-offset-2.text-center
        form.registration-form(method='post', role='form', accept-charset='UTF-8', enctype="multipart/form-data", action="/register")
            input(name='#{csrfToken.parameterName}', type='hidden', value='#{csrfToken.token}')
            .form-group.group-givenName
                div
                    input.form-control(name='givenName', value='', type='text', placeholder='First Name', autofocus='true', required='true')
            .form-group.group-surname
                div
                    input.form-control(name='surname', value='', type='text', placeholder='Last Name', required='true')
            .form-group.group-email
                div
                    input.form-control(name='email', value='', type='email', placeholder='Email', required='true')
            .form-group.group-username
                div
                    input.form-control(name='username', value='', type='text', placeholder='Username', required='true')
            .form-group.group-password
                div
                    input.form-control(name='password', value='', type='password', placeholder='Password', required='true', autocomplete='off')
            .form-group
                a#back-to-login(href='/login') back to login
            div
                button.btn.btn-block.btn-lg.btn-success(type='submit') Create Account
.row
    .col-xs-12
        a(href='https://internetdefenseleague.org')
            img#shield.img-responsive(src='/assets/img/shield_badge.png', alt='Member of The Internet Defense League')