footer
    .row
        .col-xs-6.col-xs-offset-3
            a#shield-link(href='https://internetdefenseleague.org')
                img#defence-shield.img-responsive(src='/assets/img/shield_badge.png', alt='Member of The Internet Defense League')
    p Gustaf is the creator of this website
    p Please see my
        a#termslink(href='')  terms of use
        |  and
        a#privacylink(href='')  privacy policy.
    p This is a website for demonstration purposes at
        a.info(href='http://www.chalmers.se/')  Chalmers Uni.
        |  and
        a.info(href='http://www.gu.se/')  Gothenburg Uni.
#footModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                h4#myModalLabel.modal-title
            .modal-body
                .dynamicfoot
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
include policy
include terms
script(src='/assets/js/lib/jquery.min.js')
script(src='/assets/js/lib/bootstrap.min.js')
script(src='/assets/js/jquery.fancybox.pack.js')
script(src='/assets/js/lib/sammy-latest.min.js')
script(src='/assets/js/lib/bootstrap-datepicker.min.js')
script(src='/assets/js/lib/jquery.mobile.custom.min.js')
script(src='/assets/js/gtown.min.js')
script.
    var cb = function () {
        var sheets = {
            animate: 'animate.min.css',
            datepicker: 'bootstrap-datepicker3.min.css'
        }
        Object.keys(sheets).forEach(function appendCss(key) {
            var l = document.createElement('link');
            l.rel = 'stylesheet';
            l.href = '/assets/css/' + sheets[key];
            var h = document.getElementsByTagName('head')[0];
            h.parentNode.insertBefore(l, h);
        });
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
            webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);

