header
    a#hadron-link(href='http://hasthelargehadroncolliderdestroyedtheworldyet.com/')
        h1
            span
                b N
            span o
            span t
            span &nbsp;
            span
                b A
            span &nbsp;
            span
                b N
            span u
            span m
            span b
            span e
            span r
    h3
        span \m/(
        span.eyes &#x25E3;
        span _
        span.eyes &#x25E2;
        span )\m/
    a#notrack-link(href='http://donttrack.us/')
        img#do-not-track-img.img-responsive(alt='do_not_track_us', src='/assets/img/dont-track-us.png')
