nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
                li
                    a#index.item(href='/index', class=home)
                        span Home
                li
                    a#projects.item(href='/projects', class=projects)
                        span Projects
                li
                    a#pictures.item(href='/pictures', class=pictures)
                        span Pictures
                li
                    a#blog.item(href='/blog', class=blog)
                        span Blog
                li
                    a#about.item(href='/about', class=about)
                        span About
                li
                    a#contact.item(href='/contact', class=contact)
                        span Contact
            ul.nav.navbar-nav.navbar-right
                li.hidden-sm.hidden-xs.hidden-min
                    form.navbar-form(role='search')
                        input.hidden(name='#{csrfToken.parameterName}', type='hidden', value='#{csrfToken.token}')
                        .input-group.search
                            input.form-control(type='text', placeholder='Search', autofocus='true')
                            .input-group-btn
                                button.btn.btn-default.disabled(type='submit', disabled='disabled')
                                    i.glyphicon.glyphicon-search
                if (user && user != 'Guest')
                    li
                        a#account.item(href="/account", class=account)
                            i.glyphicon.glyphicon-user
                            span  #{user}
                    li
                        form(name='logout', role='form', method='post', action='/logout')
                            input.hidden(name='#{csrfToken.parameterName}', type='hidden', value='#{csrfToken.token}')
                            input#logout(type='submit', value='Log out')
                else
                    li
                        a#login(href='/login')
                            span Log in