.policy
    h2 Information I may collect:
    p.
        Your privacy is very important to me. Accordingly, I have developed this Policy in order for you to
        understand how I collect, use, communicate and disclose and make use of personal information.
        The following outlines the privacy policy.
    p.
        When you use this services or view content, I do not store anything
        except the IP address for the incoming request for a day. Nothing is
        stored on this server that could compromise your personal integrity.
        However I use Stormpath as a service so if you register for the site
        be sure to check their license for more information.
    p.
        Personal information will only be retained when you sign up for an account for full access and that
        information is handled by Stormpath and it is important for you to know that I have nothing to do with
        how that information is handled or stored. You will have to check up their policy on how they handle
        the information. I however fully trust Stormpath.
    p Passwords and personal information are saved hashed and everything is exchanged over SSL with Stormpath.
