.terms
    ul.list-unstyled
        li
            h2 Terms
            p YES THIS IS A COPY OF A TERMS GENERATOR
            p.
                By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use,
                all applicable laws and regulations, and agree that you are responsible for compliance with any applicable
                local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site.
                The materials contained in this web site are protected by applicable copyright and trade mark law.
        li
            h2 Use License
            p.
                Permission is granted to temporarily download one copy of the materials (information or software) on
                this web site for personal, non-commercial transitory viewing only. This is the grant of a license, not
                a transfer of title, and under this license you may not:
            ol
                li
                    span use the materials for any commercial purpose
                li
                    span &quot;mirror&quot; the materials on any other server.
            p.
                This license shall automatically terminate if you violate any of these restrictions and may be
                terminated by Gustaf at any time. Upon terminating your viewing of these materials or upon the
                termination of this license, you must destroy any downloaded materials in your possession whether
                in electronic or printed format.

        li
            h2 Disclaimer
            p.
                The materials on this web site are provided &quot;as is&quot;. Gustaf makes no warranties, expressed or implied,
                and hereby disclaims and negates all other warranties, including without limitation, implied warranties or
                conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property
                or other violation of rights. Further, Gustaf does not warrant or make any representations concerning the
                accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating
                to such materials or on any sites linked to this site.
        li
            h2 Limitations
            p.
                In no event shall Gustaf or its suppliers be liable for any damages (including, without limitation, damages for
                loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials
                on this Internet site, even if Gustaf or a Gustaf authorized representative has been notified orally or in
                writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied
                warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply
                to you.
        li
            h2 Revisions and Errata
            p.
                The materials appearing on Gustaf&apos;s web site could include technical, typographical, or photographic errors.
                Gustaf does not warrant that any of the materials on its web site are accurate, complete, or current.
                Gustaf may make changes to the materials contained on its web site at any time without notice. Gustaf
                does not, however, make any commitment to update the materials.
        li
            h2 Links
            p.
                Gustaf has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents
                of any such linked site. The inclusion of any link does not imply endorsement by Gustaf of the site. Use of
                any such linked web site is at the user&apos;s own risk.
        li
            h2 Site Terms of Use Modifications
            p.
                Gustaf may revise these terms of use for its web site at any time without notice. By using this web site you
                are agreeing to be bound by the then current version of these Terms and Conditions of Use.
