@keyframes animatedBackground {
  0%{background-position:0% 81%}
  50%{background-position:100% 20%}
  100%{background-position:0% 81%}
}

.rainbow {
  height: 100%;
  width: 100%;
  background: linear-gradient(111deg, #664024, #3fda22, #da2275, #da4922, #226ada, #d6eb08, #08ebdf, #8d1b8b, #e99006, #e906bc, #028728);
  background-size: 2200% 2200%;
  -webkit-animation: animatedBackground 3s cubic-bezier(1, 2.96, 0, -2.28) infinite;
  -moz-animation: animatedBackground 3s cubic-bezier(1, 2.96, 0, -2.28) infinite;
  animation: animatedBackground 3s cubic-bezier(1, 2.96, 0, -2.28) infinite;
}