@import 'variables';
@import 'fonts';

html, body {
  min-width: 300px;
  height: 100%;
  @media (min-width: 768px) {
    padding: 5px 20px 25px;
  }
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

body{
  padding-top:20px;
  min-height: 800px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('/assets/img/background.png'), none;
  background-color: $background;
}

header {
  text-align: center;
  padding-bottom: 15px;
  > a {
    color: $graycolor;
    text-shadow: 1px 1px 1px $textshadow;
    &:hover {
      color: $graycolor;
      text-decoration: none;
    }
  }
}

h1, h2, h3, h4 {
  font-family: 'Corben', Georgia, Times, serif;
  text-shadow: 1px 1px 1px $textshadow;
}

a {
  outline: none !important;
}

pre {
  color: whitesmoke;
  background-color: $graycolor;
  width: 50%;
  margin: 0 auto 10px;
}

footer {
  text-align: center;
  width:100%;
  bottom:0;
  font-size: 13px;
  font-size: 13px;
  height: $footer-height;
}

@import 'navbar';
@import 'page-curl';
@import 'custom';
@import 'wavetext';
@import 'lsd';
@import 'rotate';
@import 'pulse';
@import 'badtrip';
@import 'navigation-arrows';