.alert > .glyphicon {
  padding-right: 10px;
}

.diary-calendar {
  color: $graycolor;
  &:focus {
    color: orangered;
  }
  > i {
    &:hover, &:active {
      color: orangered;
    }
  }
}

.datepicker {
  margin-left: 15px;
  margin-top: 20px;
}

.dropdown-menu {
  background-color: $menubase;
  color: whitesmoke;
}

.datepicker-dropdown:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid $menubase;
  border-top: 0;
  position: absolute;
}

.datepicker .datepicker-switch:hover, .datepicker .prev:hover, .datepicker .next:hover, .datepicker tfoot tr th:hover {
  background: $background !important;
  color: $graycolor;
}

.datepicker table tr td.active:active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active, .open>.dropdown-toggle.datepicker table tr td.active, .open>.dropdown-toggle.datepicker table tr td.active.highlighted {
  color: $graycolor;
  background-color: orangered;
  border-color: coral;
}

.day:hover {
  background: $background !important;
  color: $graycolor;
}

.gtown-center-padding {
  text-align: center;
  padding-bottom: 25px;
  padding-right: 50px;
  padding-left: 50px;
}

.img-responsive {
  margin: 0 auto;
}

.arrows {
  position: absolute;
  top: 40%;
  z-index: 1;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: $graycolor;
  background-color: $background;
  background-image: none;
  border: 1px solid $graycolor;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

#footModal .dynamicfoot {
  font-size: 15px;
  .list-unstyled {
    font-size: 15px;
  }
}

.terms, .policy {
  display: none;
  font-size: 15px;
}

.fork-me {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

@media (max-width: 400px) {
  .hidden-min {
    display: none;
  }
  .col-min {
    width: 100%;
    padding: 0 0 0 0;
  }
}

@media (max-width: 768px) {
  #metrics {
    padding: 0 10px 0 10px;
  }
}
