@font-face {
  font-family: 'Corben';
  src: url('/assets/fonts/corben/corben-regular-webfont.eot');
  src: url('/assets/fonts/corben/corben-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/corben/corben-regular-webfont.woff') format('woff'),
  url('/assets/fonts/corben/corben-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nobile';
  src: url('/assets/fonts/nobile/nobile-webfont.eot');
  src: url('/assets/fonts/nobile/nobile-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/nobile/nobile-webfont.woff') format('woff'),
  url('/assets/fonts/nobile/nobile-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
