@keyframes lsd {
  @for $i from 0 to 255 {
    #{$i * 1%} {
      color: rgba(100+$i * 20 % 155, 10, 100+ $i * 40 % 55, 1);
    }
  }
}

.lsd {
  animation-name: lsd;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}