$menubase: #232323;

#logout {
  outline: none !important;
  background: none;
  border: none;
  text-shadow: none;
  color: $navtext-color;
  position: relative;
  display: block;
  padding: 15px 15px;
  line-height: 20px;
  &:hover, &:focus {
    color: whitesmoke;
  }
  &.active {
    color: whitesmoke;
  }
}

.navbar.navbar-default {
  background-image: -webkit-linear-gradient(top,$menubase 0,$menubase 100%);
  background-image: -o-linear-gradient(top,$menubase 0,$menubase 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from($menubase),to($menubase));
  background-image: linear-gradient(to bottom,$menubase 0,$menubase 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 0 solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(35,35,35,.15),0 1px 5px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 0 rgba(35,35,35,.15),0 1px 5px rgba(0,0,0,.075);

  .navbar-nav > li {
    .search {
      > .form-control {
        box-shadow: none;
        -webkit-box-shadow: none;
        border-color: $background;
      }
      > .input-group-btn > .btn {
        border-left-width: 0;
        left: -2px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        background-color: $background;

        &:hover {
          color: orangered;
        }
      }
    }

    > a {
      text-shadow: none;
      &:hover, &:focus {
        color: whitesmoke;
      }
      &.active {
        color: whitesmoke;
      }
    }
  }
}
