.arrowbase {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 3px solid $graycolor;

  &:hover {
    border: 3px solid orangered;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  > .left-arrow {
    position: absolute;
    margin-top: 5px;
    margin-left: 7px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 16px solid $graycolor;
    border-bottom: 12px solid transparent;
    border-radius: 5px;

    &:hover {
      border-right: 16px solid orangered;
    }
  }

  > .right-arrow {
    position: absolute;
    margin-top: 5px;
    margin-left: 11px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-left: 16px solid $graycolor;
    border-bottom: 12px solid transparent;
    border-radius: 5px;

    &:hover {
      border-left: 16px solid orangered;
    }
  }
}
