.curl {
  width:120px;
  height:120px;
  position: absolute;
  top:0;
  left:0;
  background :
  linear-gradient(
                  135deg,
                  transparent 0%,
                  transparent 0%,
                  transparent 50%,
                  #aaa 50%,
                  #bbb 56%,
                  #ccc 62%,
                  #f3f3f3 80%,
                  #fff 100%
  ), url('/assets/img/curl-background.png') no-repeat;
  box-shadow : 0 0 10px rgba(0, 0, 0, .5);
  transition: all .5s ease;

  -moz-animation-name: rolldown;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 1s;

  -webkit-animation-name: rolldown;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;

  animation-name: rolldown;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@-moz-keyframes rolldown {
  0% {
    width: 0;
    height: 0;

  }
  100% {
    width:120px;
    height:120px;
  }
}
@-webkit-keyframes rolldown {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width:120px;
    height:120px;
  }
}
@keyframes rolldown {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width:120px;
    height:120px;
  }
}

.curl:before,
.curl:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 12.5%;
  bottom: 5.8%;
  width: 70%;
  max-width: 300px;
  max-height: 100px;
  height: 55%;
  box-shadow: 0 12px 15px rgba(0, 0, 0, .3);
  transform: skew(-10deg) rotate(-6deg);
}
.curl:after {
  left: auto;
  right: 5.8%;
  bottom: auto;
  top: 14.16%;
  transform: skew(-15deg) rotate(-84deg);
}

.curl:hover {
  width: 190px;
  height: 190px;
}
.curl:hover:before,
.curl:hover:after {
  box-shadow: 0 24px 30px rgba(0, 0, 0, .3);
}
