@keyframes pulse {
  0% { transform: scale(1.0); }
  50%  { transform: scale(1.1); }
  100% { transform: scale(1.0); }
}

.pulse {
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}