@keyframes spin {
  0% {
    transform : rotate(0deg) scale(1.5);
  }
  50% {
    transform : rotate(360deg) scale(0.5);
  }
  100% {
    transform : rotate(0deg) scale(1.0);
  }
}

.spin {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}