@keyframes wave {
  from { transform : translateY(0); color: white; }
  to   { transform : translateY( $offset ); }
}

.wave-text span {
  display: inline-block;

  animation-duration: #{$duration}s;
  animation-name: wave;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@for $i from 0 to $count {
  .wave-text :nth-child( #{$count}n + #{$i} ) {
    animation-delay :
    -#{($count - $i) * 2 * $duration / $count}s;

    color: rgba(100+$i * 20 % 155, 10, 100+ $i * 40 % 55, 1);
  }
}