doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title #{title}
        link(href='/assets/css/error.min.css', rel='stylesheet', type='text/css', media='screen')
    body
        if (status == 404)
            .body-404
                h1
                    span Ever feel you're in the wrong place?
        else
            .body-500
                h1
                    span Look what you just did! Naughty corner for you!
            