if (problem)
    .row
        .col-md-8.col-md-offset-2
            .alert.alert-dismissable.alert-danger
                a.close(href='#', data-dismiss='alert', aria-label='close')  ×
                i.glyphicon.glyphicon-exclamation-sign
                strong #{problem}