if (info)
    .row
        .col-md-8.col-md-offset-2
            .alert.alert-dismissable.alert-info
                a.close(href='#', data-dismiss='alert', aria-label='close')  ×
                i.glyphicon.glyphicon-info-sign
                strong #{info}