if (success)
    .row
        .col-md-8.col-md-offset-2
            .alert.alert-dismissable.alert-success
                a.close(href='#', data-dismiss='alert', aria-label='close')  ×
                i.glyphicon.glyphicon-ok-sign
                strong #{success}