if (warning)
    .row
        .col-md-8.col-md-offset-2
            .alert.alert-dismissable.alert-warning
                a.close(href='#', data-dismiss='alert', aria-label='close')  ×
                i.glyphicon.glyphicon-triangle-top
                strong #{warning}