meta(charset='utf-8')
meta(name='robots', content='noindex, nofollow')
meta(name='googlebot', content='noindex, nofollow')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
link(rel='stylesheet', href='/assets/css/gtown.min.css')
