doctype html
html
    head
        title #{title}
        include head
    body
        a.curl.hidden-xs(href='https://bitbucket.org/Gust4f/gtown')
        a.fork-me.hidden-xs(href='https://github.com/Gust4f')
            img(src='/assets/img/forkme.png')
        include elements/header
        noscript
            .row
                .col-md-12.noscriptmessage
                    .alert.alert-danger
                        i.glyphicon.glyphicon-remove
                        strong You have Javascript disabled. Everything will work but the experience is smoother with javascript.
        include elements/navbar

        #wrapper.container-fluid
            block content

    include elements/footer