doctype html
html
    head
        title Login
        meta(charset='utf-8')
        meta(name='robots', content='noindex, nofollow')
        meta(name='googlebot', content='noindex, nofollow')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
        link(rel='stylesheet', href='/assets/css/animate.min.css')
        link(rel='stylesheet', href='/assets/css/login.min.css')
    body
        #wrapper.container
            block content
    include scripts