script(src='/assets/js/lib/jquery.min.js')
script(src='/assets/js/lib/jquery.mb.YTPlayer.min.js')
script(src='/assets/js/lib/jquery.flexslider-min.js')
script(src='/assets/js/lib/sammy-latest.min.js')
script(src='/assets/js/login.min.js')